/node_modules
artifacts/
wallets/
/RevocationService.bin
.idea/
package-lock.json
*.xml
artifacts/RevocationService.json
artifacts/RevocationService_metadata.json
artifacts/RevocationService_metadata.json
artifacts/RevocationService.json
artifacts/RevocationService_metadata.json
contracts/build/console.abi
contracts/build/console.bin
contracts/build/MerkleProof.abi
contracts/build/MerkleProof.bin
artifacts/RevocationService_metadata.json
contracts/build/RevocationService.abi
contracts/build/RevocationService.bin
contracts/build/rs.abi
contracts/build/RevocationService.bin
contracts/build/RevocationService.abi
bindings/build/RevocationService.abi
contracts/build/RevocationService.bin
contracts/build/RevocationService.abi
*.bin
contracts/build/RevocationService.abi
artifacts/RevocationService_metadata.json
artifacts/RevocationService_metadata.json
contracts/build/RevocationService.bin
contracts/build/RevocationService.abi
artifacts/RevocationService_metadata.json
.DS_Store
/results/computation raw data
plots/results/computation raw data/results_computed_raw_10000_run1.zip
plots/results/computation raw data/results_computed_raw_10000_run2.zip
plots/results/computation raw data/results_computed_raw_10000_run3.zip
plots/results/computation raw data/results_computed_raw_50000_run1.zip
plots/results/computation raw data/results_computed_raw_50000_run2.zip
plots/results/computation raw data/results_computed_raw_50000_run3.zip
config.json
*.pyc
